.mcq-page {
    height: 100vh;
    overflow-y: auto;
}

.mcq-page .container {
    max-width: 600px;
    position: relative;
}

.mcq-page .container .timer {
    position: fixed;
    max-width: 580px;
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.mcq-page .container .timer h3 {
    grid-column: span 4 / span 4;
    margin-bottom: 0;
}

.mcq-page .container .timer .button {
    grid-column: span 1 / span 1;
    text-align: center;
}

.quiz-container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 20px 0;
    height: auto;
}

.quiz-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 100px;
}

.quiz-container > .quiz-item  ~ .quiz-item {
    margin-top: 0;
}

.quiz-item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.quiz-item .quiz .option {
    margin-bottom: 5px;
    font-size: 18px;
}


/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .mcq-page .container .timer, .quiz-container {
        max-width: 500px;
    }

    .quiz-item h4 {
        font-size: 18px;
    }

    .quiz-item .quiz .option {
        font-size: 16px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .mcq-page .container .timer, .quiz-container {
        max-width: 300px;
    }

    .quiz-item h4 {
        font-size: 18px;
    }

    .quiz-item .quiz .option {
        font-size: 16px;
    }

    .quiz-item {
        margin-top: 120px;
    }
}
